target/
!.mvn/wrapper/maven-wrapper.jar
!target/fallbacks/
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear
*.rar

# virtual machine crash logs
hs_err_pid*

# IDE files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db
